#task2 > div:nth-child(1) {
    height: 500px;
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr 1fr;
    gap: 20px;
    
}

#task2 > div:nth-child(1) > div {
    background-color: rgb(249, 58, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
}

#task2 > div:nth-child(1) > div:nth-child(1) {
    grid-row: span 2;
}


#task2 > div:nth-child(1) > div:nth-child(2) {
    grid-column: span 2;
}


.first {
    height: 500px;
    width: 80%;
    margin: 50px auto 0;
    display: flex;
    gap: 20px;
}

.first > div {
    width: 100%;
}

.second {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.second > div {
    height: 100%;
}

.third {
    display: flex;
    gap: 20px;
}

.third > div {
    width: 100%;
}

.first div:not([class]) {
    background-color: aqua;
    display: flex;
    font-size: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}